<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CorX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">/ <span class="sr-only">(current)</span></a>
      </li>
 
     
    </ul>
    <div class="form-inline col-lg-10 my-3 my-lg-0">
      <input class="form-control col-lg-9 mr-sm-5" type="text" (keyup.enter)="getArananFilm(a.value)" #a placeholder="Film Ara orn:Terminator">

    </div>
  </div>
</nav>
<main>
  <div class="container">
    <div class="row">
      <app-jumbotron></app-jumbotron>
    </div>
    <div class="row" >
      <div  class="col-3" *ngFor="let film of filmler">
      <div class="card mb-3 mt-3 " *ngIf="film.poster_path.substring(film.poster_path.length-4)!='null'">
        <h3 class="card-header">{{film.name}}</h3>
        <div class="card-body">
          <h5 class="card-title">{{film.original_title}}</h5>
          <h6 class="card-subtitle text-muted">Yapım yılı : {{film.release_date}}</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" [src]="film.poster_path" alt="Card image">
        <div class="card-body">
          <p class="card-text text-truncate">{{film.overview}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Orjinal dili: {{film.original_language}} </li>
          <li class="list-group-item">tip: {{film.media_type}} </li>
          <li class="list-group-item">Populerite: {{film.popularity}} </li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-secondary">İncele</a>

        </div>
        <div class="card-footer text-muted">
          corX
        </div>
      </div> 
    </div> 
    </div>
  </div>
</main>