<div class="jumbotron">
    <h1 class="display-3">Hoşgeldin</h1>
    <p class="lead">Şu anda sadece film arayabilirsin..</p>
    <hr class="my-4">
    <p>orem Ipsum, masaüstü yayıncılık ve basın yayın sektöründe kullanılan taklit yazı bloğu olarak tanımlanır. Lipsum, oluşturulacak şablon ve taslaklarda içerik yerine geçerek yazı bloğunu doldurmak için kullanılır.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">####</a>
    </p>
  </div>